.container--add-meal {
    margin-top: 16px;
    background-color: #fff;
    box-shadow: 0px 2px 7px -5px rgba(0, 0, 0, .6);
    font-size: 16px;
    font-weight: 100;
    min-height: 400px;
    padding-bottom: 24px;
}

.box--label-instruction {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 16px;
}

.box--input-calorias-gastas {
    margin-top: 20px;
}

.btn--add-meal {
    margin-top: 40px;
    width: 100%;
}

.food-block {
    padding-top: 15px;
    margin-top: 25px;
    position: relative;
    border-top: 1px solid #c3c3c3;
}

.add-food {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #45CAAD;
}

.add-food:hover {
    text-decoration: none;
    color: #121F2F;
}