* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background: #fafafa;
  -webkit-font-smothing: antialiased;
  width: 75%;
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  background: url(/assets/bg-index.png) no-repeat;
  background-size: 900px;
}

a {
  text-decoration: none;
  color: #45caad;
  padding: 10px;
  font-weight: 500;
  transition: 400ms;
}

a:hover {
  color: #121f2f;
  text-decoration: none;
}

p {
  padding: 10px;
  margin-left: 20px;
  font-size: 14px;
  color: #929292;
}

img {
  max-width: 300px;
  margin-right: 55px;
  margin-bottom: 50px;
}

.main-form {
  width: 300px;
  margin-top: 200px;
  float: right;
}

.main-form input {
  background-color: #eeeeee;
  border: 1 #929292;
  border-radius: 8px;
  font-weight: 200;
  margin-bottom: -30px;
}

.main-form button {
  width: 300px;
  border-radius: 8px;
  font-weight: 400;
  margin-top: 50px;
  background-color: #45caad;
  color: #fafafa;
  border: none;
  border-radius: 8px;
  transition: 400ms;
}

.main-form button:hover {
  background-color: #121f2f;
}

@media (max-width: 600px) {
  body {
  background: none;
}