.container--blood-pressure-list {
    margin-top: 16px;
    background-color: #fff;
    box-shadow: 0px 2px 7px -5px rgba(0, 0, 0, .6);
    font-size: 16px;
    font-weight: 100;
    min-height: 300px;
}

.box--blood-pressure-list {
    padding: 0;
    max-height: 290px;
    overflow: auto;
}

.box-button-add-blood-pressure {
    margin: 0 auto;
    margin-top: 26px;
}

.box-button-add-blood-pressure a, .box-button-add-blood-pressure a button {
    width: 100%;
}

@media (min-width: 992px){
    .box-button-add-blood-pressure {
        margin: 26px -15px 0 -15px;
    }
}